version: '3'

services:
  nginx:
    container_name: 'drawo_nginx'
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - assets:/app/assets
      - media:/app/media
    depends_on:
      - app

  app:
    container_name: 'drawo_app'
    build:
      context: .
      dockerfile: app/Dockerfile
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - postgres

  postgres:
    container_name: 'drawo_postgres'
    image: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/data/postgresql
    restart: always
    environment:
      - POSTGRES_DB=drawo
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456

volumes:
  postgres-data:
  assets:
  media:
